* {
  box-sizing: border-box;
}
.bx {
  background-color: gray;
  height: 200px;
}
section {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "row1 row2"
    "row2 row3 row4"
    "row5"
    "row6"
    "row7"
    "row8"
    "row9"
    "row10"
    "row11"
    "row12";
}

/* on tablets screen */
@media screen and (min-width: 600px) {
  section {
    grid-template-areas:
      'row1 row1 row2'
      'row3 row4 row5'
      'row6 row7 row8'
      'row9 row10 row11'
  }
  
}
